<div class="container">
  <div class="row">
    <div class="box">
      <div class="col-sm-3">
        <% number = rand(99) %>
        <% picture =  @user.facebook_picture_url || "https://randomuser.me/api/portraits/men/#{number}.jpg"%>
          <%= image_tag picture, class: "avatar-very-large" %>
      </div>
      <div class="col-sm-6">
        <h2>Information</h2>
        <ul>
          <li>First name: <%= @user.first_name %></li>
          <li>Last name: <%= @user.last_name %></li>
          <li>Profile creation: <%= @user.created_at.strftime("%d/%m/%Y") %></li>
          <li>Number of items owned: <%= @user.items.count %></li>
          <li>Number of reservations made: <%= @user.reservations.count %></li>
          <li>Bio : <%= @user.bio %></li>
          <li>Average Rating: To come...
           </li>
        </ul>
      </div>
    </div>
    <div class="col-sm-9">
      <div class="col-sm-12">
        <h2>Reviews for <%= @user.first_name %> <%= @user.last_name %></h2>
          <% if @user.reservations.count == 0 %>
            No reviews yet.
          <% else %>
            <ol>
              <% @user.reservations.each do |reservation| %>
                  <li><p>Review:</p>
                  <p><em><%= reservation.owner_review %></em> </p>
                  <p>Rating: <%= reservation.owner_rating %>/5</p></li>
              <% end %>
            </ol>
          <% end %>
<!--         <div class="col-sm-12">
             <h1>Reviews mad</h1>
             <% if @user.reservations.count == 0 %>
              No reviews yet.
            <ul>
              <% @user.reservations.each do |reservation| %>
                <li>User Review: <%= reservation.user_review %></li>
                <li>User Rating: <%= reservation.user_rating %></li>
            <% end %>
          </ul>
          <% end %>
        </div> -->
    </div>

    <!-- THIS IS WHERE WE DISTINGUISH VISITOR/USER -->

    <div class="col-sm-12">
    <h2>Items owned by <%= @user.first_name %> <%= @user.last_name %></h2>
      <% if @user.items.count == 0 %>
        This user doesn't own any item.
      <% else %>
      <ul>
        <% @user.items.each do |item| %>
          <li>
            <%= image_tag item.picture_url, class: "avatar-large" %>
            <%= item.title %>
              <% if item.reservations == 0 %>
                <h1>No reservations for this item.</h1>
              <% else %>
            <ol>
              <% item.reservations.each do|reservation| %>
              <li>
              <ul>
                <% if reservation.user.facebook_picture_url? %>
                  <li><%= image_tag reservation.user.facebook_picture_url %></li>
                <% else %>
                  <li>This user has no picture yet.</li>
                <% end %>
                <li>First name: <%= reservation.user.first_name %></li>
                <li>Last name: <%= reservation.user.last_name %></li>
                <li>From: <%= reservation.start_on.strftime("%d/%m/%Y") %></li>
                <li>To: <%= reservation.end_on.strftime("%d/%m/%Y") %></li>
                <li>
                  Status:
                  <% if reservation.validated_on == nil && reservation.declined_on == nil && reservation.cancelled_on == nil %>
                    PENDING
                  <% elsif reservation.cancelled_on? %>
                    Cancelled on <%= reservation.cancelled_on.strftime("%d/%m/%Y") %>
                  <% elsif reservation.declined_on? %>
                    Declined on <%= reservation.declined_on.strftime("%d/%m/%Y") %>
                  <% else %>
                    Accepted on <%= reservation.validated_on.strftime("%d/%m/%Y") %>
                  <% end %>
                  <ul>
                    <% if reservation.validated_on == nil && reservation.declined_on == nil %>
                      <li>
                        <%= link_to accept_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                          <div class="btn btn-default">Accept</div>
                        <% end %>
                      <% end %>
                    </li>
                      <% if reservation.validated_on == nil && reservation.declined_on == nil %>
                        <li>
                          <%= link_to decline_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                            <div class="btn btn-default">Decline</div>
                          <% end %>
                        <% end %>
                      </li>
                      <% if reservation.validated_on? && !(reservation.cancelled_on?) %>
                      <li>
                        <%= link_to cancel_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                          <div class="btn btn-default">Cancel</div>
                        <% end %>
                      <% end %>
                    </li>
                    <hr>
                </ul>
                </li>
              </ul>
              </li>
              <% end %>
            </ol>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% end %>

      <h2>Reservations made by <%= @user.first_name %> <%= @user.last_name %></h2>
      <% if @user.reservations.count == 0 %>
        No reservations yet.
      <% else %>
        <% @user.reservations.each do |reservation| %>
          <ul>
            <li><%= image_tag reservation.item.picture_url, class: "avatar-large" %></li>
            <li><%= reservation.item.title %></li>
            <li>Start on: <%= reservation.start_on.strftime("%d/%m/%Y") %></li>
            <li>End on: <%= reservation.end_on.strftime("%d/%m/%Y") %></li>
            <li>
              STATUS:
                <% if reservation.validated_on == nil && reservation.declined_on == nil && reservation.cancelled_on == nil%>
                    Pending...
                  <% elsif reservation.cancelled_on? %>
                    Cancelled on <%= reservation.cancelled_on.strftime("%d/%m/%Y")  %>
                  <% elsif reservation.declined_on? %>
                    Declined on <%= reservation.declined_on.strftime("%d/%m/%Y") %>
                  <% else %>
                    Accepted on <%= reservation.validated_on.strftime("%d/%m/%Y") %>
                  <% end %>
                <ul>
                  <% if reservation.validated_on? && !(reservation.cancelled_on?) %>
                    <li>
                      <%= link_to cancel_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                        <div class="btn btn-default">Cancel</div>
                        <% end %>
                      <% end %>
                    </li>
                    <hr>
                </ul>
            </li>
          </ul>
        <% end %>
      <% end %>
    </div>
  </div>
</div>



