<div class="container">
  <div class="row">
      <div class="col-sm-3">
        <% number = rand(99) %>
        <% picture =  @user.facebook_picture_url || "https://randomuser.me/api/portraits/men/#{number}.jpg"%>
          <%= link_to image_tag(picture, class: "avatar-very-large"), user_path %>
      </div>
      <div class= "information">
        <div class="col-sm-6">
          <h2>Information</h2>
          <ul>
            <li>First name: <%= @user.first_name %></li>
            <li>Last name: <%= @user.last_name %></li>
            <li>Profile creation: <%= @user.created_at.strftime("%d/%m/%Y") %></li>
            <li>Number of items owned: <%= @user.items.count %></li>
            <li>Number of reservations made: <%= @user.reservations.count %></li>
            <li>Bio: <%= @user.bio %></li>
            <li> Rating:
               <% ratings = @user.reservations.pluck(:owner_rating) %>
               <% ratings = ratings.select { |rating| rating != nil} %>
               <%= average_stars(ratings) if ratings.any? %>
             </li>
          </ul>
        </div>
      </div>
    <div class="col-sm-9">
      <div class="col-sm-12">
        <h2>Reviews for <%= @user.first_name %> <%= @user.last_name %></h2>
          <% if @user.reservations.count == 0 %>
            No reviews yet.
          <% else %>
            <ol>
              <% @user.reservations.each do |reservation| %>
                <% if reservation.owner_review.present? %>
                  <li><p><%= link_to image_tag(reservation.item.user.facebook_picture_url, class: "avatar"), reservation.item.user %> <%= reservation.item.user.first_name %> <%= reservation.item.user.last_name %></p>
                  <p><em><%= reservation.owner_review %></em> </p>
                  <p>Rating: <%= star(reservation.owner_rating) %></p></li>
                <% end %>
              <% end %>
            </ol>
          <% end %>
<!--         <div class="col-sm-12">
             <h1>Reviews mad</h1>
             <% if @user.reservations.count == 0 %>
              No reviews yet.
            <ul>
              <% @user.reservations.each do |reservation| %>
                <li>User Review: <%= reservation.user_review %></li>
                <li>User Rating: <%= reservation.user_rating %></li>
            <% end %>
          </ul>
          <% end %>
        </div> -->
    </div>
  </div>

    <!-- THIS IS WHERE WE DISTINGUISH VISITOR/USER -->
 <% if current_user != nil && @user.id == current_user.id %>
    <div class="col-sm-12">
    <h2>Items owned by <%= @user.first_name %> <%= @user.last_name %></h2>
      <% if @user.items.count == 0 %>
        This user doesn't own any item.
      <% else %>
      <ul>
        <% @user.items.each do |item| %>
          <li>
            <%= link_to image_tag(item.picture_url, class: "avatar-large"), item_path  %>
            <%= item.title %>
              <% if item.reservations.count == 0 %>
                <p>No reservations for this item.</p>
              <% else %>
            <ol>
              <% item.reservations.each do|reservation| %>
              <li>
              <ul>
                <% if reservation.user.facebook_picture_url? %>
                  <li><%= link_to image_tag(reservation.user.facebook_picture_url, class: "avatar"), reservation.user %></li>
                <% else %>
                  <li>This user has no picture yet.</li>
                <% end %>
                <li>First name: <%= reservation.user.first_name %></li>
                <li>Last name: <%= reservation.user.last_name %></li>
                <li>From: <%= reservation.start_on.strftime("%d/%m/%Y") %></li>
                <li>To: <%= reservation.end_on.strftime("%d/%m/%Y") %></li>
                <li>
                  Status:
                  <% if reservation.validated_on == nil && reservation.declined_on == nil && reservation.cancelled_on == nil %>
                    Pending
                  <% elsif reservation.cancelled_on? %>
                    Cancelled on <%= reservation.cancelled_on.strftime("%d/%m/%Y") %>
                  <% elsif reservation.declined_on? %>
                    Declined on <%= reservation.declined_on.strftime("%d/%m/%Y") %>
                  <% else %>
                    Accepted on <%= reservation.validated_on.strftime("%d/%m/%Y") %>
                    <% if reservation.end_on <= Date.today %>
                    <% if reservation.owner_review == nil %>
                      <p>Leave a review for <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
                      <%= simple_form_for [ item, reservation ] do |form| %>
                        <%= form.input :owner_review %>
                        <%= form.input :owner_rating %>
                        <%= form.button :submit, method: :post %>
                        <% end %>
                    <% else %>
                      <p>Your review</p>
                      <p><%= reservation.owner_review %></p>
                      <p><%= star(reservation.owner_rating) %></p>
                      <% end %>
                    <% end %>
                  <% end %>
                  <ul>
                    <% if reservation.validated_on == nil && reservation.declined_on == nil %>
                      <li>
                        <%= link_to accept_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                          <div class="btn btn-default">Accept</div>
                        <% end %>
                      <% end %>
                    </li>
                      <% if reservation.validated_on == nil && reservation.declined_on == nil %>
                        <li>
                          <%= link_to decline_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                            <div class="btn btn-default">Decline</div>
                          <% end %>
                        <% end %>
                      </li>
                      <% if reservation.validated_on? && !(reservation.cancelled_on?) %>
                      <li>
                        <%= link_to cancel_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                          <div class="btn btn-default">Cancel</div>
                        <% end %>
                      <% end %>
                    </li>
                    <hr>
                </ul>
                </li>
              </ul>
              </li>
              <% end %>
            </ol>
            <% end %>
          </li>
        <% end %>
      </ul>
      <% end %>
    </div>

    <div class="col-sm-12">
      <h2>Reservations made by <%= @user.first_name %> <%= @user.last_name %></h2>
      <% if @user.reservations.count == 0 %>
        No reservations yet.
      <% else %>
        <% @user.reservations.each do |reservation| %>
          <ul>
            <li><%= link_to image_tag(reservation.item.picture_url, class: "avatar"), reservation.item %>
            <%= reservation.item.title %></li>
            <li>From: <%= reservation.start_on.strftime("%d/%m/%Y") %></li>
            <li>To: <%= reservation.end_on.strftime("%d/%m/%Y") %></li>
            <li>
              Status:
                <% if reservation.validated_on == nil && reservation.declined_on == nil && reservation.cancelled_on == nil%>
                    Pending
                  <% elsif reservation.cancelled_on? %>
                    Cancelled on <%= reservation.cancelled_on.strftime("%d/%m/%Y")  %>
                  <% elsif reservation.declined_on? %>
                    Declined on <%= reservation.declined_on.strftime("%d/%m/%Y") %>
                  <% else %>
                    Accepted on <%= reservation.validated_on.strftime("%d/%m/%Y") %>
                    <% if reservation.end_on <= Date.today %>
                    <% if reservation.user_review == nil %>
                      <p>Leave a review for <%= reservation.user.first_name %> <%= reservation.user.last_name %></p>
                      <%= simple_form_for [ reservation.item, reservation ] do |form| %>
                        <%= form.input :user_review %>
                        <%= form.input :user_rating %>
                        <%= form.button :submit, method: :post %>
                        <% end %>
                    <% else %>
                      <p>Your review</p>
                      <p><%=reservation.user_review%></p>
                      <p><%= star(reservation.user_rating) %></p>
                      <% end %>
                    <% end %>
                  <% end %>
                <ul>
                  <% if reservation.validated_on? && !(reservation.cancelled_on?) %>
                    <li>
                      <%= link_to cancel_item_reservation_path(reservation.item, reservation), method: :post, data: { confirm: "Are you sure?" } do %>
                        <div class="btn btn-default">Cancel</div>
                        <% end %>
                      <% end %>
                    </li>
                    <hr>
                </ul>
            </li>
          </ul>
          <% end %>
        <% end %>
      <% end %>
      </div>
  </div>
</div>





