<div class="container">
  <h1>Les résultats de votre recherche</h1>
  <div class="row">
  <div class="col-sm-6">
    <% @items.each do |item| %>
    <div class="col-sm-6">
         <%= link_to item_path(item) do  %>
          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= item.picture_url %>')">
            <div class="card-category">
              <h2><%= item.title %></h2>
              <p>Category : <%= item.material_category %></p>
              <p>For : <%= item.segment %></p>
              <p>Station : <%= item.ski_station %></p>
              <p>Price per day : <%= item.price %></p>
            </div>
          </div>
        <% end %>
        </div>
        <% end %>
    </div>

    <div class="col-sm-6">
      <div id="map" style="width: 100%; height: 600px;">
        <% content_for(:after_js) do %>
        <%= javascript_tag do %>
          $(document).ready(function() {
            var handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function() {
              markers = handler.addMarkers(<%= raw @hash.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              if (markers.length == 0) {
                handler.getMap().setZoom(2);
              } else if (markers.length == 1) {
                handler.getMap().setZoom(14);
              }
            });
          });
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
